* {
  box-sizing: border-box;
}

html, body {
  background-image: linear-gradient(to right, #ffb3ba 0, #ffb3ba 20%, #ffdfba 20%, #ffdfba 40%, #ffffba 40%, #ffffba 60%, #baffc9 60%, #baffc9 80%, #bae1ff 80%, #bae1ff 100%);
  margin: 0;
  padding: 0;
  text-align: center;
}

div {
  color: red;
  margin-top: 20%;
}

p {
  font-size: 3em;
}

